
<div class="hero-unit">
 

<h1 align="center">Welcome to Sushi-Fusion!</h1>
<p align="center">
<img src="http://2.bp.blogspot.com/-c7uwcnIrsxQ/Tt0wXhVQOmI/AAAAAAAAFV8/0STBPpjtjeQ/s1600/OsakaSushi-785641.jpg" HEIGHT="400px" WIDTH="800PX">
</p>

<p align="center">
	Learn how to make the Amazing Sushi-Fusion and share the best photos of your work with the community!
</p>
<p align="center"> 
<%= link_to "Sign Up Now!", "#" , class: "btn btn-primary btn-large" %>
</p>
</div>

