$baseFontFamily: oxygen;
@import url(http://fonts.googleapis.com/css?family=oxygen);

$navbarBackgroundHighlight: white;
$navbarBackground: white;

$btnPrimaryBackground: green;

@import 'bootstrap';



@import 'bootstrap-responsive';


.footer {
	margin-top: 120px;


}